NEXT_PUBLIC_SUPABASE_URL=__SUPABASE_URL__
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=__SUPABASE_PUBLISHABLE_KEY__
SUPABASE_SERVICE_ROLE_KEY=__SUPABASE_SERVICE_ROLE_KEY__
OPENAI_API_KEY=__FUTURE_OPENAI_API_KEY__
